---
---

@import "{{ site.theme }}";

header {
  img {
    border-width: thin;
    border-style: solid;
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}
